body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #c084fc, #93c5fd);
}

.container {
  width: 400px;
  margin: 120px auto;
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

h1 {
  color: #1e293b;
  margin-bottom: 30px;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  background: #4f46e5;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #3730a3;
}